<link rel="stylesheet" href="~/table.css" />
<link rel="stylesheet" href="~/index.css" />
<link rel="stylesheet" href="~/flag-icon.css" />
<link rel="stylesheet" href="~/flag-icon.min.css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="center-this-div">
    <div id="suggest-container">
            
        <div class="group">
            <h1>Success!</h1>
        </div>

        <div class="group">
            <p>Thanks for the suggestion of the artist, your application will be considered after a while, but in the meantime you can go back or suggest another.</p>
        </div>

        <div class="group-button">
            <br>
            <a href="/home/suggestArtists"><button id="flat-button">Go</button></a>
            <br>
            <a href="/home/artists"><button id="flat-button">Back to Artists</button></a>
        </div>
    </div>
</div>