<link rel="stylesheet" href="~/index.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<div class="center-this-div">
    <div id="index-container">
        <div class="group" style="text-align: center">
            <h1 >Artist<br>Palace</h1>
        </div>
        
        <div class="group">
            <a href="/home/artists"><button id="flat-button">Artists</button></a>
            <br>
            <br>
            <a href="/home/adminpanel"><button id="flat-button">Admin</button></a>
            <br>
            <br>
            <a href="/home/suggestartists"><button id="flat-button">Suggest</button></a>
        </div>
    </div>
</div>