<link rel="stylesheet" href="~/index.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="text-center group">
    <h1 class="display-4">Artist Palace</h1>
    <a href="/home/artists">Artists page</a> <br>
    <a href="/home/adminpanel">Admin page</a> <br>
    <a href="/home/suggestartists">Suggest page</a>
</div>