@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <a href="/home/artists">Artists page</a>
    <a href="/home/adminpanel">Admin page</a>
</div>