<link rel="stylesheet" href="~/index.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div id="navbar">
    <a href="/home/artists"><button id="search-button"><span class="material-icons">person_search</span> Search Artist</button></a>
    <button id="add-artist-button"><span class="material-icons">person_add</span> Suggest Artist</button>
</div>

<div class="center-this-div">
    <form method="post">
        <div id="suggest-container">
            
            <div class="group">
                <h1>Suggest Artist</h1>
            </div>

            <div class="group">
                <label for="add-artist-tag">Twitter @@tag</label> <br/>
                <input id="add-artist-tag" name="tag" required>
            </div>
            
             <div class="group">
                <label for="add-artist-type">Type:</label> <br/>
                <select id="add-artist-type" name="type" required style="width: 211px">
                    <option>Pixel Art</option>
                    <option>Digital Art</option>
                </select>
            </div>

            <div class="group">
                <label for="add-artist-commission-accept">Accept commissions</label> <br/>
                <select id="add-artist-commission-accept" style="width: 211px" name="commissions">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            
            <div class="group">
                <label for="add-artist-priceperhour">Price per hour</label> <br/>
                <input id="add-artist-priceperhour" name="priceperhour" placeholder="leave empty if DM" pattern="^[ 0-9]+$">
            </div>

            <div class="group-button">
                <br>
                <button class="flat-button">Suggest</button>
            </div>
        </div>
    </form>
</div>